In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
pharma_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Training_set_begs.csv')
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
4                      33012  ...                1

[5 rows x 18 columns]

In [3]:
pharma_data.shape

(23097, 18)

In [4]:
pharma_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23097 entries, 0 to 23096
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_Patient_Care_Situation  23097 non-null  int64
 1   Diagnosed_Condition        23097 non-null  int64
 2   Patient_ID                 23097 non-null  int64
 3   Treated_with_drugs         23084 non-null  object
 4   Patient_Age                23097 non-null  int64
 5   Patient_Body_Mass_Index    23097 non-null  float64
 6   Patient_Smoker             23097 non-null  object
 7   Patient_Rural_Urban        23097 non-null  object
 8   Patient_mental_condition   23097 non-null  object
 9   A                          21862 non-null  float64
 10  B                          21862 non-null  float64
 11  C                          21862 non-null  float64
 12  D                          21862 non-null  float64
 13  E                          21862 non-null  float64
 14  F                          21862 non-null  float64
 15  Z                          21862 non-null  float64
 16  Number_of_prev_cond        21862 non-null  float64
 17  Survived_1_year            23097 non-null  int64
dtypes: float64(9), int64(5), object(4)
memory usage: 3.2+ MB

In [5]:
pharma_data.describe(include = "all")

        ID_Patient_Care_Situation  ...  Survived_1_year
count                23097.000000  ...     23097.000000
unique                        NaN  ...              NaN
top                           NaN  ...              NaN
freq                          NaN  ...              NaN
mean                 16545.712041  ...         0.632247
std                   9532.263503  ...         0.482204
min                      2.000000  ...         0.000000
25%                   8280.000000  ...         0.000000
50%                  16597.000000  ...         1.000000
75%                  24825.000000  ...         1.000000
max                  33014.000000  ...         1.000000

[11 rows x 18 columns]

In [6]:
# drop all NAN values from datasets
pharma_data= pharma_data.dropna()
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
5                      10808  ...                0

[5 rows x 18 columns]

In [7]:
# check any dublicate values in dataset
pharma_data = pharma_data.drop_duplicates()
pharma_data.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
5                      10808  ...                0

[5 rows x 18 columns]

In [8]:
# drop irrelevant column from dataframe
df = pharma_data.drop(['Patient_ID'], axis = 1)
df.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
5                      10808  ...                0

[5 rows x 17 columns]

In [9]:
# performing categorical variable to numeric variable with label encoder to make uniform data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Treated_with_drugs']= le.fit_transform(df['Treated_with_drugs'])
df['Patient_Smoker']= le.fit_transform(df['Patient_Smoker'])
df['Patient_Rural_Urban']= le.fit_transform(df['Patient_Rural_Urban'])
df['Patient_mental_condition']= le.fit_transform(df['Patient_mental_condition'])

df.head()

   ID_Patient_Care_Situation  ...  Survived_1_year
0                      22374  ...                0
1                      18164  ...                1
2                       6283  ...                0
3                       5339  ...                1
5                      10808  ...                0

[5 rows x 17 columns]

In [10]:
df.isnull().sum()

ID_Patient_Care_Situation    0
Diagnosed_Condition          0
Treated_with_drugs           0
Patient_Age                  0
Patient_Body_Mass_Index      0
Patient_Smoker               0
Patient_Rural_Urban          0
Patient_mental_condition     0
A                            0
B                            0
C                            0
D                            0
E                            0
F                            0
Z                            0
Number_of_prev_cond          0
Survived_1_year              0
dtype: int64

In [11]:
#  create input and target variable
X = df.drop(['Survived_1_year'], axis = 1)
y = df['Survived_1_year']

In [12]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 5)

In [13]:
# model building
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
# model performance on train dataset
pred_train = model.predict(X_train)

In [15]:
from sklearn.metrics import accuracy_score, f1_score
ac = accuracy_score(y_train, pred_train)
f_score = f1_score(y_train, pred_train)

In [16]:
print("accuracy = ", ac, ",", "f_score", f_score)

accuracy =  0.6219432457172748 , f_score 0.7595242056230245

In [17]:
# prediction on Xtest
pred_test = model.predict(X_test)

In [18]:
# evaluation eller performance on test datasets
ac = accuracy_score(y_test, pred_test)
f_score = f1_score(y_test, pred_test)
print("accuracy", ac, ",", "f_score", f_score)

accuracy 0.625629290617849 , f_score 0.762163209924404

In [19]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier
rf_clf = RandomForestClassifier(n_estimators=10, random_state=1, n_jobs=-1)

In [20]:
# Train the classifier
rf_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [21]:
from sklearn.feature_selection import SelectFromModel
# Create a selector object that will use the random forest classifier to identify
# It will select the features based on the importance score
rf_sfm = SelectFromModel(rf_clf)

#Alternatively if you want to set a specific threshold and select the features you may the following code that is commented
# features that have an importance of more than 0.13 ( all top 4 features lie above this)
# rf_sfm = SelectFromModel(rf_clf, threshold=0.13)

# Train the selector
rf_sfm = rf_sfm.fit(X_train, y_train)

In [22]:
# Transform the data to create a new dataset containing only the most important features
# Note: We have to apply the transform to both the training X and test X data.
X_important_train = rf_sfm.transform(X_train)
X_important_test = rf_sfm.transform(X_test)

In [23]:
# Create a new random forest classifier for the most important features
clf_important = RandomForestClassifier(n_estimators=10, random_state=1, n_jobs=-1)

# Train the new classifier on the new dataset containing the most important features
clf_important = clf_important.fit(X_important_train, y_train)

In [24]:
y_pred = rf_clf.predict(X_test)
rf_ac = accuracy_score(y_test, y_pred)
rf_fscore = f1_score(y_test ,y_pred)

# View The Accuracy Of Our Full Feature (10 Features) Model
print("Baseline Model Accuracy:", rf_ac)
print("Baseline Model F1 Score:", rf_fscore)

Baseline Model Accuracy: 0.8006102212051869
Baseline Model F1 Score: 0.8382625912634575

In [25]:
# Apply The Full Featured Classifier To The Test Data
y_important_pred = clf_important.predict(X_important_test)

# View The Accuracy Of Our Limited Feature (4 Features) Model
rf_imp_ac = accuracy_score(y_test, y_important_pred)
rf_imp_fscore = f1_score(y_test, y_important_pred)

print("Limited Features Model Accuracy:", rf_ac)
print("Limited Features Model F1 Score:", rf_fscore)

Limited Features Model Accuracy: 0.8006102212051869
Limited Features Model F1 Score: 0.8382625912634575

In [26]:
# import new test data
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/pharma_data/Testing_set_begs.csv')
test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z Number_of_prev_cond
0                      19150                   40  ...  0.0                 2.0
1                      23216                   52  ...  0.0                 2.0
2                      11890                   50  ...  0.0                 2.0
3                       7149                   32  ...  0.0                 3.0
4                      22845                   20  ...  0.0                 1.0

[5 rows x 17 columns]

In [27]:
# drop all NAN values from datasets
test_new = test_new.dropna()
test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z Number_of_prev_cond
0                      19150                   40  ...  0.0                 2.0
1                      23216                   52  ...  0.0                 2.0
2                      11890                   50  ...  0.0                 2.0
3                       7149                   32  ...  0.0                 3.0
4                      22845                   20  ...  0.0                 1.0

[5 rows x 17 columns]

In [28]:
# drop irrelevant column from dataframe
test_new = test_new.drop(['Patient_ID'], axis = 1)
test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z  Number_of_prev_cond
0                      19150                   40  ...  0.0                  2.0
1                      23216                   52  ...  0.0                  2.0
2                      11890                   50  ...  0.0                  2.0
3                       7149                   32  ...  0.0                  3.0
4                      22845                   20  ...  0.0                  1.0

[5 rows x 16 columns]

In [29]:
# performing categorical variable to numeric variable with label encoder to make uniform data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test_new['Treated_with_drugs']= le.fit_transform(test_new['Treated_with_drugs'])
test_new['Patient_Smoker']= le.fit_transform(test_new['Patient_Smoker'])
test_new['Patient_Rural_Urban']= le.fit_transform(test_new['Patient_Rural_Urban'])
test_new['Patient_mental_condition']= le.fit_transform(test_new['Patient_mental_condition'])

test_new.head()

   ID_Patient_Care_Situation  Diagnosed_Condition  ...    Z  Number_of_prev_cond
0                      19150                   40  ...  0.0                  2.0
1                      23216                   52  ...  0.0                  2.0
2                      11890                   50  ...  0.0                  2.0
3                       7149                   32  ...  0.0                  3.0
4                      22845                   20  ...  0.0                  1.0

[5 rows x 16 columns]

In [30]:
# prediction on new test data
Survived_1_year= model.predict(test_new)

# How to save in google colab

In [31]:
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(Survived_1_year)
res.index = test_new.index # its important for comparison
res.columns = ["Survived_1_year"]

# To download the csv file locally
from google.colab import files
res.to_csv('Survival.csv')         
files.download('Survival.csv')